.navigation {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    display: block;}
.img1{display: inline-flex;width: 362px;height: 186px;}
.divp{display: inline-flex;width: 362px;height: 186px;}
.div{ display: inline-flex;}










